%a.close-reveal-modal &#215;
%h3 Create a Snapshot
= form_tag server_manager_command_path(@server[:id], :snapshot) do
  .row
    .columns.hint.small-8
      %label
      = text_field_tag 'data', '', placeholder: 'Snapshot Name'
      %small.hint
  .row
    .columns.hint.small-4
      = submit_tag 'Go', class: 'button'