%table.twelve.messages
  %thead
    %tr
      - if current_user_admin?
        %th.two Team
        %th.five Subject
        %th.two Sent
        %th.three
      - else
        %th.eight Subject
        %th.two Sent
        %th.two

  %tbody
    - messages.each do |team_message|
      = render partial: 'message', locals: {team_message: team_message}
%br