%table.twelve.messages
  %thead
    %tr
      - if current_user_admin?
        %th.two
        %th.two Team
        %th.five Subject
        %th.three Sent
      - else
        %th.one
        %th.eight Subject
        %th.four Sent

  %tbody
    - messages.each do |team_message|
      = render partial: 'message', locals: {team_message: team_message}
%br