.row
  .twelve.columns.panel
    %h3
      = @team_message.subject
    %blockquote.message_content
      = simple_format @team_message.content
  .left
    = link_to '<i class="icon-reply"></i> Reply'.html_safe, new_team_message_path, class: 'button'