/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require formee
 *= require toggle-switch
 *= require font-awesome
 */

@import "compass/css3";
@import "colors";

// Override foundation settings with formee conformant settings
form.formee {
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    height: auto;
    margin: 0px;
  }
}

form.formee {
  fieldset {
    background-color: $secondaryColor;
    legend {
      background-color: transparent;
      color: $mainColor;
    }
  }
}

.content {
    margin-top: 10px;
}

header {
    background-color: $mainColor;
    padding: 10px 0px;
}

header.running {
  background-color: $service-running-color;
}
header.down {
  background-color: $service-down-color;
}
header.error {
  background-color: $service-error-color;
}
header.off {
  background-color: $service-off-color;
  h1 {
    color: $service-off-dark-color;
  }
}

header h1 {
    color: $white;
    font-weight: 500;
}

.hint-text {
    padding-top: 5px;
    color: $form-hint-text-color;
    float: right;
}

.form-error-text {
    padding-top: 5px;
    color: $form-error-text-color;
    float: left;
}

input:focus ~ .hint-text, input:hover ~ .hint-text, select:hover ~ .hint-text {
  color: #000;
  @include transition(all 0.15s linear);
}

.tabs.vertical.services {
  dd a{
    font-weight: bold;
    color: inherit;
  }
  dd.off {
    border-left-color: $service-off-color;
    color: $service-off-dark-color;
  }
  dd.down {
    border-left-color: $service-down-color;
    color: $service-down-color;
  }

  dd.running {
    border-left-color: $service-running-color;
    color: $service-running-color;
  }

  dd.error {
    border-left-color: $service-error-color;
    color: $service-error-color;
  }
}

table a {
  font-weight: bold;
  text-decoration: underline;
}

table.services, table.challenges {
  tr {
    min-height: 32px;
    td a {
      color: inherit;
    }
  }

  td.service_img {
    width: 32px;
    background-repeat: no-repeat;
  }

  tr.running, tr.complete {
    td.service_img {
      background-image: url("/assets/blueberry/check.png");
    }
    td {
      color: $service-running-color;
    }
  }
  tr.down {
    td.service_img {
      background-image: url("/assets/blueberry/close_delete.png");
    }
    td {
      color: $service-down-color;
    }
  }
  tr.error {
    td.service_img {
      background-image: url("/assets/blueberry/attention.png");
    }
    td {
      color: $service-error-color;
    }
  }
  tr.off, tr.incomplete {
    td.service_img {
      background-image: url("/assets/blueberry/off.png");
    }
    td {
      color: $service-off-dark-color;
    }
  }
}

td ul.inline-list, td ol.inline-list {
  margin-bottom: 0px;
}

ul.inline-list .label, ol.inline-list .label {
  margin-top: 1px;
}

.tabs.vertical dd:hover {
  a {
    background-color: $tab-background-color;
    padding-left: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.service-log .details, .service-log .debug {
  display: none;
}

.service-log .time {
  color: #888;
}

.progress.text {
  height: auto;
}

.progress.text .meter .text {
  padding: 4px;
  color: black;
  font-weight: bold;
  //text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  //overflow: hidden;
}

.message_content * {
  font-size: 1.7em;
  color: black;
}

a [class^="icon-"] {
  text-decoration: none;
}

.hidden {
  display: none;
}

.alert-box {
  ul {
    list-style-position: inside;
    margin-bottom: 0px;
  }
  a, a:visited, a:hover {
    color: $white;
  }
}

.daemon-log {
  .info {
    background-color: $daemon-info-color;
  }
  .error {
    background-color: $daemon-error-color;
  }
  .warn {
    background-color: $daemon-warn-color;
  }
}