/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require toggle
 *= require font-awesome
 *= require users
 *= require tools
 *= require team_messages
 *= require services
 *= require server_manager
 */
@import "compass";
@import "colors";
@import "foundation/components/forms";

// Remove float for certain content
.tabs-content > .content, td.columns, th.columns, td.column, th.column {
  float: none !important;
}

// Navigation Bar
.top-bar {
  h1 a {
    font-weight: bold !important;
  }
  .not-running a {
    color: $top-bar-not-running-color !important;
  }
  .running a {
    color: $top-bar-running-color !important;
  }
  #messages_link.new_messages a {
    color: $mainColor;
  }
}

// Page header
header {
  background-color: $mainColor;
  padding: 0px 0px 5px 0px;
  margin-bottom: 20px;
  &.running {
    background-color: $service-running-color;
  }
  &.down {
    background-color: $service-down-color;
  }
  &.error {
    background-color: $service-error-color;
  }
  &.off {
    background-color: $service-off-color;
    h1.text {
      color: $service-off-dark-color;
    }
  }
  h1.text {
    color: $white;
    font-weight: 500;
    padding-top: 12px;
  }
}
#global_alert {
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 20;
  .alert-box {
    font-size: 0.9em;
    padding-top: 4px;
    padding-bottom: 8px;
    border-top: 0px;
  }
}
.alert-box {
  ul {
    list-style-position: inside;
    margin-bottom: 0px;
  }
  a, a:visited, a:hover {
    color: $white;
  }
}

// Forms
fieldset{
  padding-bottom: 4px !important;
  &.no-border {
    border: none;
  }
  &:last-of-type {
    margin-bottom: 9px;
  }
}
input[type=file] {
  @include form-element();
  border: none;
}
.hint {
  select, input, textarea {
    margin-bottom: 1px !important;
  }
  small.hint {
    @include form-error-message($white);
    color: $form-hint-text-color;
  }
  small.error {
    display: none !important;
  }
  &.error {
    select, input, textarea {
      margin-bottom: 0px !important;
    }
    small.hint {
      display: none;
    }
    small.error {
      display: block !important;
    }
  }
}
input:focus ~ .hint, input:hover ~ .hint, select:hover ~ .hint, select:focus ~ .hint, textarea:focus ~ .hint, textarea:hover ~ .hint   {
  color: #000;
  @include transition(all 0.15s linear);
}

// Tables
table {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
table a {
  font-weight: bold;
  text-decoration: underline;
}
td.has-inline-list {
  padding-left: 4px;
  padding-right: 4px;
}
td ul.inline-list, td ol.inline-list {
  margin-bottom: 0px;
}
ul.inline-list .label, ol.inline-list .label {
  margin-top: 1px;
}

// Icons
a [class^="icon-"] {
  text-decoration: none;
}

// Utility
.hidden {
  display: none;
}
