// Foundation Colors
$mainColor: #2ba6cb;
$secondaryColor: #ddd;
$alertColor: #c60f13;
$successColor: #5da423;
$txtColor: #222;
$highlightColor: #ffff99;
$black: #000;
$white: #fff;
$shinyEdge: rgba(#fff, .5);
$darkEdge: rgba(#000, .2);

// Tabs
$tab-background-color: #d8d8d8;

// Forms
$form-error-text-color: #d10000;
$form-hint-text-color: #888;

// Services
$service-down-color: #b24a48;
$service-running-color: #3c8a41;
$service-error-color: #e57746;
$service-off-color: #CCC;
$service-off-dark-color: #555;

// Daemon Log
$daemon-info-color: #ccc;//#2ba6cb;
$daemon-error-color: #d9504c;
$daemon-warn-color: #e57746;

// Messages
$message-new-color: #abe47c;