@import "colors";
@import "compass";
@import "keyframes";

// Service List button flash feyframes
@mixin flashAnimation($name, $baseColor) {
  @include keyframes($name) {
    0% {
      background-color: lighten($baseColor, 20);
    }
    100% {
      background-color: $baseColor;
    }
  }
}
@include flashAnimation(service-running-flash, $service-running-color);
@include flashAnimation(service-down-flash, $service-down-color);
@include flashAnimation(service-off-flash, $service-off-color);
@include flashAnimation(service-off-dark-flash, $service-off-dark-color);
@include flashAnimation(service-error-flash, $service-error-color);

// Service Colors (buttons and header)
.services .button, header#titlebar {
  &.running {
    background-color: $service-running-color;
    &.flash {
      @include animation(service-running-flash, 0s, 2s);
    }
  }
  &.down {
    background-color: $service-down-color;
    &.flash {
      @include animation(service-down-flash, 0s, 2s);
    }
  }
  &.error {
    background-color: $service-error-color;
    &.flash {
      @include animation(service-error-flash, 0s, 2s);
    }
  }
}

// Service Buttons
.services {
  .button {
    margin-bottom: 0px !important;
    text-align: left;
    &:hover {
      padding-left: 10px;
      @include transition(all 1s ease);
      &.running {
        background-color: darken($service-running-color, 10);
      }
      &.down {
        background-color: darken($service-down-color, 10);
      }
      &.error {
        background-color: darken($service-error-color, 10);
      }
      &.off {
        background-color: darken($service-off-dark-color, 10);
      }
    }
    &.off {
      background-color: $service-off-dark-color;
      &.flash {
        @include animation(service-off-dark-flash, 0s, 2s);
      }
    }
  }
  .row {
    border-bottom: 1px solid $secondaryColor;
    &:last-of-type {
      border-bottom-width: 0px !important;
    }
  }
}

// Service header
header#titlebar {
  &.off {
    background-color: $service-off-color !important;
    &.flash {
      @include animation(service-off-flash, 0s, 2s);
    }
    h1.text {
      color: $service-off-dark-color;
    }
  }
}

// Service List
table.services, table.challenges {
  tr {
    min-height: 32px;
    td a {
      color: inherit;
    }
  }

  td.service_img {
    width: 32px;
    background-repeat: no-repeat;
  }

  tr.running, tr.complete {
    td.service_img {
      background-image: url("/assets/blueberry/check.png");
    }
    td {
      color: $service-running-color;
    }
  }
  tr.down {
    td.service_img {
      background-image: url("/assets/blueberry/close_delete.png");
    }
    td {
      color: $service-down-color;
    }
  }
  tr.error {
    td.service_img {
      background-image: url("/assets/blueberry/attention.png");
    }
    td {
      color: $service-error-color;
    }
  }
  tr.off, tr.incomplete {
    td.service_img {
      background-image: url("/assets/blueberry/off.png");
    }
    td {
      color: $service-off-dark-color;
    }
  }
}

// Service Logs
.service-log {
  .details, .debug {
    display: none;
  }

  .time {
    color: #888;
  }
}

// Progress Bar
.progress.text {
  height: auto;
  .meter .text {
    padding: 4px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3);
    text-align: center;
  }
}
