@import "colors.scss";

#server_blocks {
  .panel.running {
    border-color: $service-running-color;
    background-color: lighten($service-running-color, 45%);

    .button.command {
      background-color: $successColor;
      &:after{
        content: "Running";
      }
    }
  }

  .panel.down {
    border-color: $service-down-color;
    background-color: lighten($service-down-color, 45%);

    .button.command {
      background-color: $alertColor;
      &:after{
        content: "Not Running";
      }
    }
  }

  .panel.paused {
    border-color: $service-off-dark-color;
    background-color: $service-off-color;

    .button.command {
      background-color: $service-off-dark-color;
      &:after {
        content: "Paused";
      }
    }
  }

  .panel:nth-child(even) {
    float: right;
  }

  .panel:nth-child(odd) {
    float: left;
  }
}